include LICENSE.txt
include CHANGES.rst

include fuefit/test/*.csv
include fuefit/test/*.xls?
recursive-include Docs *.pdf

include fuefit/excel/fuefit_excel_runner.xlsm

include requirements.txt
include WinPython_requirements.txt
include postinstall.py